<div class="jumbotron text-white" id="approve">
  <div class="text-center">
    <img src="../../../assets/images/lighthouse (green).png" alt="HTML5 Icon" style="height: 40px; width:auto;">
  </div>
  <br>
  <h2 class="text-center">Send Transfers and Earn USDC</h2>
  <br>
  <h5 class="lead text-center mb-4">
    Here you can see all the active approvals, select some, execute the transaction and receive the GAS TIP approved by
    the sender</h5>
  <br>
  <div class="row align-items-center">
    <div class="col-md-12">
      <div class="row text-left">
        <div class="col-12">
          <div class="row">
            <div class="col-md-4">
              <div class="card mb-3 mx-2" style="max-width: auto;">
                <div class="card-body">
                  <div class="row">
                    <div class="col-3">
                      <img src="../../../assets/images/gold-ingots.png" alt="HTML5 Icon"
                        style="height: 50px; width:auto;">
                    </div>
                    <div class="col-9">
                      <h5>Select all the transactions you want and submit and earn GAS TIP in USDC.</h5>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-3 mx-2" style="max-width: auto;">
                <div class="card-body">
                  <div class="row">
                    <div class="col-3">
                      <img src="../../../assets/images/whale (3).png" alt="HTML5 Icon"
                        style="height: 50px; width:auto;">
                    </div>
                    <div class="col-9">
                      <h5>Confirm Transaction on Browser Wallet and pay the ETH gas for the selected Txs.
                      </h5>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-3 mx-2" style="max-width: auto;">
                <div class="card-body">
                  <div class="row">
                    <div class="col-3">
                      <img src="../../../assets/images/loot (1).png" alt="HTML5 Icon" style="height: 50px; width:auto;">
                    </div>
                    <div class="col-9">
                      <h5>For each complete tx you will receive correspondent GAS TIP from the sender.</h5>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-12">
      <div class="card border-white g-dark mb-3" style="max-width: auto;">
        <div class="card-body mx-4">
          <form>
            <div class="d-flex justify-content-between p-2">
              <div class="form-group form-inline">
                Filter By Address: <input class="form-control ml-2" type="text" name="searchTerm"
                  [(ngModel)]="approveService.searchTerm" />
                <span class="ml-3" *ngIf="approveService.loading$ | async">Loading...</span>
              </div>
              <ngb-pagination [collectionSize]="(total$ | async)!" [(page)]="approveService.page"
                [pageSize]="approveService.pageSize">
              </ngb-pagination>
              <select class="custom-select" style="width: auto" name="pageSize" [(ngModel)]="approveService.pageSize">
                <option [ngValue]="10">10 items per page</option>
                <option [ngValue]="20">20 items per page</option>
                <option [ngValue]="30">30 items per page</option>
              </select>
            </div>
            <table class="table table-striped table-responsive-lg bg-white text-dark">
              <thead>
                <tr>
                  <th scope="col" sortable="addressFrom" (sort)="onSort($event)">From</th>
                  <th scope="col" sortable="addressTo" (sort)="onSort($event)">To</th>
                  <th scope="col" sortable="gasFee" (sort)="onSort($event)">Approved Value</th>
                  <th scope="col" sortable="gasFee" (sort)="onSort($event)">Gas Tip</th>
                  <th scope="col" sortable="gasFee" (sort)="onSort($event)">Deadline</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let approve of approves$| async">
                  <td>
                    <ngb-highlight [result]="approve.addressFrom" [term]="approveService.searchTerm"></ngb-highlight>
                  </td>
                  <td>
                    <ngb-highlight [result]="approve.addressTo" [term]="approveService.searchTerm"></ngb-highlight>
                  </td>
                  <td>
                    <ngb-highlight [result]="approve.valueApprove" [term]="approveService.searchTerm"></ngb-highlight>
                  </td>
                  <td>
                    <ngb-highlight [result]="approve.gasFee" [term]="approveService.searchTerm"></ngb-highlight>
                  </td>
                  <td>
                    <ngb-highlight [result]="approve.deadline" [term]="approveService.searchTerm"></ngb-highlight>
                  </td>
              </tbody>
            </table>
            <div class="d-flex justify-content-between p-2">
              <h4>Txs: {{totalTxs}}</h4>
              <h4>GAS TIPs: {{totalGasFee}} USDC</h4>
              <div class="text-center">
                <button class="btn btn-lg btn-success">Submit Selected Txs</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
