<nav class="navbar navbar-expand-lg navbar-dark">
  <a class="navbar-brand" href="index.html">DeFree <img class="ml-2"
      src="../../../assets/images/042-shell.png" alt="HTML5 Icon" style="height: 30px; width:auto;">
  </a>
  <button class="navbar-toggler" type="button" (click)="isCollapsed = !isCollapsed" data-toggle="collapse"
    data-target=".navbar-collapse" aria-controls="navbarSupportedContent" aria-expanded="false"
    aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="#approval">Approve<i class="fa fa-plus-circle ml-2"></i></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#approval">Send<i class="fa fa-plus-circle ml-2"></i></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="faq.html">Info<i class="fa fa-info-circle ml-2"></i></a>
      </li>
    </ul>
    <button class="btn btn-lg btn-danger" onclick="load()">Connect Wallet</button>
  </div>
</nav>
