<div class="jumbotron text-center text-white" id="main">
  <img class="mb-4" src="../../../assets/images/timao.png" alt="HTML5 Icon" style="height: 100px; width:auto;">
  <br>
  <h1 class="mt-2">Tides</h1>
  <br>
  <h6 class="lead">Save ETH setting pre-approved UCDC transfers or Earn USDC calling pre-approved USDC transfers</h6>
  <br>
  <div class="row align-items-center">
      <div class="col-md-12 mb-4">
          <a class="btn btn-lg btn-info my-4 mx-4" href="#approve">Approve Tx and Save ETH</a>
          <a class="btn btn-lg btn-success my-4 mx-4" href="#sendList">Send Tx and Earn USDC</a>
      </div>
  </div>
</div>
<app-approve-form></app-approve-form>
<app-send-list></app-send-list>
